body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh; /* Preenche toda a altura da tela */
    background-color: #000000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-area {
    padding: 40px; /* Ajuste o padding conforme necessário */
    background-color: #ffeac9;
    color: #000000;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alinha o conteúdo com espaço entre */
}

.text-area h1 {
    font-size: 48px; /* Aumentado para um tamanho maior */
    margin: 0; /* Remover margens para alinhar melhor */
}

.text-area p {
    font-size: 25px; /* Tamanho do texto */
    margin: 0 0 20px 0; /* Ajuste nas margens */
    text-align: left;
}

.call-button {
    padding: 15px 45px; /* Aumentado */
    background-color: #b33b3b;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    transition: background-color 0.3s;
    align-self: center; /* Centraliza o botão horizontalmente */
}



.image-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}